@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;320&display=swap');

body {
	background-color: rgb(90, 22, 22);
	color: #ffffff;
	width: 900px;
	font-family: "Oswald";
	font-size: 15pt;
	margin: auto;
	margin-top: 1.25em;
	line-height: 1.5em;
}